<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="httpLog" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.cloudj/test-logs/http.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="phnqLog" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.cloudj/test-logs/phnq.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="org.phnq.core.util.logging.HttpLoggingFilter" level="info" additivity="false">
        <appender-ref ref="httpLog" />
    </logger>

    <logger name="org.phnq" level="debug" additivity="false">
        <appender-ref ref="phnqLog" />
    </logger>

    <root level="WARN">
        <appender-ref ref="stdOut" />
    </root>
</configuration>
